{
  "openapi": "3.1.0",
  "info": {
    "title": "Carbon Copy API",
    "version": "2.0.0",
    "description": "Programmatic access to Carbon Copy's Polymarket copy-trading platform. Follow traders, manage your portfolio, and automate your prediction market strategy.",
    "contact": {
      "name": "Carbon Copy Support",
      "email": "support@carboncopy.inc",
      "url": "https://carboncopy.inc"
    }
  },
  "servers": [
    {
      "url": "https://carboncopy.inc",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key in the format `cc_<64 hex characters>`. Obtain from the Dashboard under Settings → API Keys."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "bad_request",
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "method_not_allowed",
                  "conflict",
                  "quota_exceeded",
                  "rate_limited",
                  "internal_error"
                ]
              },
              "message": {
                "type": "string",
                "description": "Human-readable description of the error."
              }
            }
          }
        }
      },
      "PaginatedResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "items",
              "hasMore"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {}
              },
              "nextCursor": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Pass this value as `cursor` in your next request to fetch the following page. `null` when no more pages exist."
              },
              "hasMore": {
                "type": "boolean",
                "description": "`true` when more pages exist beyond this one."
              }
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique request identifier for debugging.",
            "example": "cf7301af-0c1e-4354-85a8-9153db69ae6d"
          },
          "timestamp": {
            "type": "integer",
            "description": "Server timestamp (Unix ms).",
            "example": 1741600000000
          }
        }
      },
      "PnlSnapshot": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "ISO 8601 timestamp of the snapshot.",
            "example": "2026-03-01T12:00:00.000Z"
          },
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp (ms).",
            "example": 1772400000000
          },
          "value": {
            "type": "number",
            "description": "Total P&L (deposit-normalised) at this snapshot.",
            "example": 12.50
          },
          "realisedPnl": {
            "type": "number",
            "description": "Realised P&L at this snapshot.",
            "example": 8.00
          },
          "unrealisedPnl": {
            "type": "number",
            "description": "Unrealised P&L at this snapshot.",
            "example": 4.50
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ],
            "example": "ok"
          },
          "version": {
            "type": "string",
            "example": "2.0.0"
          },
          "timestamp": {
            "type": "integer",
            "description": "Current server time as Unix timestamp (milliseconds).",
            "example": 1741600000000
          }
        }
      },
      "PortfolioSummary": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "number",
            "description": "Available USDC balance in the proxy wallet.",
            "example": 245.50
          },
          "positionsValue": {
            "type": "number",
            "description": "Current mark-to-market value of all open positions in USDC.",
            "example": 89.30
          },
          "unrealisedPnl": {
            "type": "number",
            "description": "Unrealised profit/loss on open positions in USDC.",
            "example": 4.10
          },
          "totalValue": {
            "type": "number",
            "description": "balance + positionsValue.",
            "example": 334.80
          },
          "totalPnL": {
            "type": "number",
            "description": "Lifetime realised profit/loss in USDC.",
            "example": 38.20
          },
          "totalPnLPercent": {
            "type": "number",
            "description": "Lifetime P&L as a percentage of invested capital.",
            "example": 8.41
          },
          "winRate": {
            "type": "number",
            "description": "Percentage of resolved copy trades that were profitable.",
            "example": 62.5
          },
          "totalTrades": {
            "type": "integer",
            "description": "Total number of copy trades executed.",
            "example": 48
          },
          "activePositions": {
            "type": "integer",
            "description": "Number of currently open copy-trade positions.",
            "example": 12
          },
          "realisedPnl": {
            "type": "number",
            "description": "All-time realised profit/loss from closed positions in USDC.",
            "example": 34.10
          }
        }
      },
      "TraderSummary": {
        "type": "object",
        "required": [
          "walletAddress",
          "copyTradingEnabled",
          "copyPercentage"
        ],
        "properties": {
          "walletAddress": {
            "type": "string",
            "description": "Trader's Ethereum wallet address.",
            "example": "0xAbCd1234..."
          },
          "username": {
            "type": [
              "string",
              "null"
            ],
            "description": "Trader's display name.",
            "example": "sharptrader"
          },
          "copyTradingEnabled": {
            "type": "boolean",
            "description": "`true` if copy trading is currently active for this trader."
          },
          "copyPercentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100,
            "description": "Percentage of each trade to copy.",
            "example": 25
          },
          "maxCopyAmount": {
            "type": [
              "number",
              "null"
            ],
            "description": "Maximum USDC to deploy per copied trade. `null` means no cap.",
            "example": 500
          },
          "totalCopied": {
            "type": "integer",
            "description": "Total number of trades copied from this trader.",
            "example": 14
          },
          "pnl": {
            "type": "number",
            "description": "P&L in USDC from trades copied from this trader.",
            "example": 128.4
          }
        }
      },
      "TraderDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TraderSummary"
          },
          {
            "type": "object",
            "properties": {
              "notificationsEnabled": {
                "type": "boolean",
                "description": "Whether notifications are enabled for this trader's activity."
              },
              "followedAt": {
                "type": "integer",
                "description": "Unix timestamp (ms) when you started following this trader.",
                "example": 1741500000000
              },
              "recentTrades": {
                "type": "array",
                "description": "The 10 most recent trades by this trader.",
                "items": {
                  "$ref": "#/components/schemas/CopyTrade"
                }
              }
            }
          }
        ]
      },
      "DiscoveredTrader": {
        "type": "object",
        "properties": {
          "walletAddress": {
            "type": "string",
            "example": "0xAbCd1234..."
          },
          "username": {
            "type": [
              "string",
              "null"
            ],
            "example": "sharptrader"
          },
          "totalProfit": {
            "type": "number",
            "description": "Lifetime realised profit in USDC.",
            "example": 4200.0
          },
          "totalVolume": {
            "type": "number",
            "description": "Lifetime trading volume in USDC.",
            "example": 32000.0
          },
          "roi": {
            "type": "number",
            "description": "Return on investment (decimal, e.g. 0.131 = 13.1%).",
            "example": 0.131
          },
          "winRate": {
            "type": "number",
            "description": "Fraction of resolved positions that were profitable (0–1).",
            "example": 0.71
          },
          "followers": {
            "type": "integer",
            "description": "Number of Carbon Copy users currently copying this trader.",
            "example": 48
          }
        }
      },
      "TraderPerformance": {
        "type": "object",
        "properties": {
          "walletAddress": {
            "type": "string",
            "example": "0xAbCd1234..."
          },
          "username": {
            "type": [
              "string",
              "null"
            ],
            "example": "sharptrader"
          },
          "totalProfit": {
            "type": "number",
            "example": 4200.0
          },
          "totalVolume": {
            "type": "number",
            "example": 32000.0
          },
          "roi": {
            "type": "number",
            "example": 0.131
          },
          "maxDrawdown": {
            "type": "number",
            "description": "Maximum peak-to-trough drawdown (decimal).",
            "example": 0.08
          },
          "sharpe": {
            "type": "number",
            "description": "Sharpe ratio based on P&L history.",
            "example": 1.42
          },
          "pnlHistory": {
            "type": "array",
            "description": "Normalized daily P&L time series.",
            "items": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "example": "2025-01-01"
                },
                "pnl": {
                  "type": "number",
                  "example": 120.0
                }
              }
            }
          }
        }
      },
      "PnlByTraderItem": {
        "type": "object",
        "properties": {
          "traderWallet": {
            "type": "string",
            "example": "0xAbCd1234..."
          },
          "username": {
            "type": [
              "string",
              "null"
            ],
            "example": "cryptowhale"
          },
          "realizedPnl": {
            "type": "number",
            "description": "Total realised P&L from trades copied from this trader.",
            "example": 24.10
          },
          "totalVolume": {
            "type": "number",
            "description": "Total USDC deployed copying this trader.",
            "example": 310.0
          },
          "tradeCount": {
            "type": "integer",
            "example": 12
          }
        }
      },
      "CopyTrade": {
        "type": "object",
        "required": [
          "id",
          "traderWallet",
          "marketId",
          "side",
          "amount",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "k17abc123def456"
          },
          "traderWallet": {
            "type": "string",
            "example": "0xAbCd1234..."
          },
          "marketId": {
            "type": "string",
            "example": "0x1234abcd..."
          },
          "marketQuestion": {
            "type": [
              "string",
              "null"
            ],
            "example": "Will BTC exceed $100k by end of 2025?"
          },
          "side": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ],
            "description": "Which outcome was purchased."
          },
          "amount": {
            "type": "number",
            "description": "USDC amount deployed.",
            "example": 50.0
          },
          "price": {
            "type": "number",
            "description": "Average fill price (0–1).",
            "example": 0.62
          },
          "pnl": {
            "type": "number",
            "description": "Realised P&L in USDC. `0` if not yet realized.",
            "example": 12.5
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "executed",
              "filled",
              "resolved_win",
              "resolved_loss",
              "cancelled"
            ],
            "description": "Current status of this copy trade."
          },
          "createdAt": {
            "type": "integer",
            "description": "Unix timestamp (ms).",
            "example": 1741550000000
          }
        }
      },
      "Order": {
        "type": "object",
        "required": [
          "id",
          "marketId",
          "side",
          "amount",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "k17xyz789"
          },
          "marketId": {
            "type": "string"
          },
          "marketQuestion": {
            "type": [
              "string",
              "null"
            ]
          },
          "side": {
            "type": "string",
            "enum": [
              "YES",
              "NO"
            ]
          },
          "amount": {
            "type": "number",
            "example": 50.0
          },
          "filledAmount": {
            "type": [
              "number",
              "null"
            ],
            "example": 50.0
          },
          "price": {
            "type": [
              "number",
              "null"
            ],
            "example": 0.62
          },
          "status": {
            "type": "string",
            "enum": [
              "filled",
              "pending",
              "cancelled",
              "failed"
            ]
          },
          "createdAt": {
            "type": "integer",
            "example": 1741550000000
          },
          "filledAt": {
            "type": [
              "integer",
              "null"
            ]
          },
          "errorMessage": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "Account": {
        "type": "object",
        "required": [
          "userId",
          "walletAddress",
          "createdAt"
        ],
        "properties": {
          "userId": {
            "type": "string",
            "example": "user_abc123"
          },
          "walletAddress": {
            "type": [
              "string",
              "null"
            ],
            "example": "0xDead1234..."
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "example": "trader@example.com"
          },
          "copyTradingEnabled": {
            "type": "boolean",
            "example": true
          },
          "createdAt": {
            "type": "integer",
            "example": 1740000000000
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid authentication credentials.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Invalid or missing API key."
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Authenticated but insufficient permissions (wrong scope).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "forbidden",
                "message": "This key does not have the required scope."
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource does not exist.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "not_found",
                "message": "Resource not found."
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests. Back off and retry.",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "rate_limited",
                "message": "Rate limit exceeded. Retry after 30 seconds."
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Health",
      "description": "Service health and status."
    },
    {
      "name": "Portfolio",
      "description": "Portfolio summary, positions, trade history, and P&L."
    },
    {
      "name": "Follow Management",
      "description": "Follow, configure, and manage the traders you copy. All routes live under `/portfolio/traders`."
    },
    {
      "name": "Trader Discovery",
      "description": "Search and filter traders on the platform. Routes under `/traders`."
    },
    {
      "name": "Orders",
      "description": "Inspect orders placed by your copy-trading bot."
    },
    {
      "name": "Markets",
      "description": "Market data — prices and token info."
    },
    {
      "name": "Account",
      "description": "Your Carbon Copy account information."
    }
  ],
  "paths": {
    "/api/v1/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Returns API health status. No authentication required.",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "API is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                },
                "example": {
                  "status": "ok",
                  "version": "2.0.0",
                  "timestamp": 1741600000000
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/portfolio": {
      "get": {
        "operationId": "getPortfolio",
        "summary": "Get portfolio summary",
        "description": "Returns an aggregated summary of your copy-trading portfolio including live wallet balance, open positions value, unrealised P&L, and lifetime stats.",
        "tags": [
          "Portfolio"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Portfolio summary.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioSummary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/history": {
      "get": {
        "operationId": "getPortfolioHistory",
        "summary": "List copy trade history",
        "description": "Returns a paginated list of all copy trades. Every item includes a `pnl` field (`0` when not yet realized). Also available at `/api/v1/portfolio/trades`.",
        "tags": [
          "Portfolio"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Unix ms — filter trades on or after this time.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Unix ms — filter trades before this time.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated copy trade history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CopyTrade"
                          }
                        },
                        "nextCursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/trades": {
      "get": {
        "operationId": "getPortfolioTrades",
        "summary": "List copy trade history (alias)",
        "description": "Alias for `/api/v1/portfolio/history`. Returns identical data.",
        "tags": [
          "Portfolio"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Unix ms — filter trades on or after this time.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Unix ms — filter trades before this time.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated copy trade history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CopyTrade"
                          }
                        },
                        "nextCursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/pnl-history": {
      "get": {
        "operationId": "getPnlHistory",
        "summary": "Get P&L time series",
        "description": "Returns time-series portfolio P&L snapshots (captured every 15 minutes) for charting performance over time. Includes realised and unrealised P&L breakdown.",
        "tags": [
          "Portfolio"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "description": "Number of days of history to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 90,
              "default": 30
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Aggregation interval — returns the last snapshot per bucket. Use `1h` or `4h` for more granularity.",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "4h",
                "1d"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "P&L time series.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PnlSnapshot"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/positions": {
      "get": {
        "operationId": "getPortfolioPositions",
        "summary": "List open positions",
        "description": "Returns a paginated list of currently open copy-trade positions.",
        "tags": [
          "Portfolio"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated open positions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CopyTrade"
                          }
                        },
                        "nextCursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/positions/close": {
      "post": {
        "operationId": "closePosition",
        "summary": "Close a position",
        "description": "Sell all shares in an open position at the current market price.",
        "tags": [
          "Portfolio"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "positionId",
                  "marketSlug",
                  "direction",
                  "shares"
                ],
                "properties": {
                  "positionId": {
                    "type": "string",
                    "description": "Convex document ID of the position."
                  },
                  "marketSlug": {
                    "type": "string",
                    "example": "will-x-happen"
                  },
                  "direction": {
                    "type": "string",
                    "example": "YES"
                  },
                  "shares": {
                    "type": "number",
                    "description": "Number of shares to sell.",
                    "example": 15.5
                  },
                  "outcome": {
                    "type": "string",
                    "description": "Optional outcome override.",
                    "example": "YES"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Position closed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/pnl-by-trader": {
      "get": {
        "operationId": "getPnlByTrader",
        "summary": "P&L breakdown by trader",
        "description": "Returns realised P&L and volume grouped by each copied trader.",
        "tags": [
          "Portfolio"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "P&L breakdown.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "breakdown": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PnlByTraderItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/traders": {
      "get": {
        "operationId": "listFollowedTraders",
        "summary": "List followed traders",
        "description": "Returns all traders you currently follow, including copy settings and performance stats.",
        "tags": [
          "Follow Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Followed traders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TraderSummary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "followTrader",
        "summary": "Follow a trader",
        "description": "Start copy-trading a new wallet. Returns `409 Conflict` if already following.",
        "tags": [
          "Follow Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "walletAddress",
                  "copyPercentage"
                ],
                "properties": {
                  "walletAddress": {
                    "type": "string",
                    "example": "0xAbCd1234..."
                  },
                  "copyPercentage": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100,
                    "example": 25
                  },
                  "maxCopyAmount": {
                    "type": "number",
                    "description": "Max USDC per trade. Omit for no cap.",
                    "example": 500
                  },
                  "notificationsEnabled": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trader followed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraderDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Already following this trader.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "conflict",
                    "message": "You are already following this trader."
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/traders/batch": {
      "patch": {
        "operationId": "batchUpdateTraders",
        "summary": "Batch update followed traders",
        "description": "Update copy settings for up to 100 followed traders in a single request.",
        "tags": [
          "Follow Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "updates"
                ],
                "properties": {
                  "updates": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "required": [
                        "walletAddress"
                      ],
                      "properties": {
                        "walletAddress": {
                          "type": "string",
                          "example": "0xAbCd1234..."
                        },
                        "copyPercentage": {
                          "type": "number",
                          "minimum": 0,
                          "maximum": 100
                        },
                        "maxCopyAmount": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "notificationsEnabled": {
                          "type": "boolean"
                        },
                        "copyTradingEnabled": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Results for each update in the batch.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "walletAddress": {
                            "type": "string"
                          },
                          "success": {
                            "type": "boolean"
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/traders/{wallet}": {
      "parameters": [
        {
          "name": "wallet",
          "in": "path",
          "required": true,
          "description": "Trader's Ethereum wallet address.",
          "schema": {
            "type": "string",
            "example": "0xAbCd1234..."
          }
        }
      ],
      "get": {
        "operationId": "getFollowedTrader",
        "summary": "Get followed trader",
        "description": "Returns detailed info for a single followed trader including recent trades.",
        "tags": [
          "Follow Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Trader details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraderDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "updateFollowedTrader",
        "summary": "Update follow settings",
        "description": "Update copy-trading settings. All fields are optional — only provided fields are changed.",
        "tags": [
          "Follow Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "copyPercentage": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "maxCopyAmount": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "Set to `null` to remove the cap."
                  },
                  "notificationsEnabled": {
                    "type": "boolean"
                  },
                  "copyTradingEnabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated trader.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraderDetail"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "unfollowTrader",
        "summary": "Unfollow a trader",
        "description": "Stop copy-trading this wallet. Existing open positions are **not** automatically closed.",
        "tags": [
          "Follow Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Trader unfollowed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/traders/{wallet}/pause": {
      "post": {
        "operationId": "pauseTrader",
        "summary": "Pause copy trading",
        "description": "Temporarily pause copy trading for a specific trader without unfollowing.",
        "tags": [
          "Follow Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Copy trading paused.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraderDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/portfolio/traders/{wallet}/resume": {
      "post": {
        "operationId": "resumeTrader",
        "summary": "Resume copy trading",
        "description": "Resume copy trading for a previously paused trader.",
        "tags": [
          "Follow Management"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Copy trading resumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraderDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/traders": {
      "get": {
        "operationId": "discoverTraders",
        "summary": "Discover traders",
        "description": "Search and filter traders on the platform. Use this to find traders worth following based on performance metrics.",
        "tags": [
          "Trader Discovery"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Username/profile search query.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort results by metric.",
            "schema": {
              "type": "string",
              "enum": [
                "profit",
                "volume",
                "followers",
                "copyability",
                "roi"
              ],
              "default": "profit"
            }
          },
          {
            "name": "minVolume",
            "in": "query",
            "description": "Minimum total trading volume (USDC).",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minRoi",
            "in": "query",
            "description": "Minimum ROI (e.g. `0.1` = 10%).",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "minWinRate",
            "in": "query",
            "description": "Minimum win rate (0–1).",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching traders.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traders": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DiscoveredTrader"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/traders/{wallet}/performance": {
      "get": {
        "operationId": "getTraderPerformance",
        "summary": "Get trader performance",
        "description": "Returns detailed performance analytics for any trader on the platform, including P&L history, drawdown, and Sharpe ratio.",
        "tags": [
          "Trader Discovery"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "description": "Trader's Ethereum wallet address.",
            "schema": {
              "type": "string",
              "example": "0xAbCd1234..."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trader performance analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraderPerformance"
                }
              }
            }
          },
          "400": {
            "description": "Invalid wallet address format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Returns a paginated list of orders placed by your copy-trading bot.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "filled",
                "pending",
                "cancelled",
                "failed"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "until",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated order list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Order"
                          }
                        },
                        "nextCursor": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/orders/{id}": {
      "get": {
        "operationId": "getOrder",
        "summary": "Get order by ID",
        "description": "Returns a single order by its document ID.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "k17xyz789"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/markets/price": {
      "get": {
        "operationId": "getMarketPrice",
        "summary": "Get market price",
        "description": "Fetch the current or historical price for a Polymarket token.",
        "tags": [
          "Markets"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenId",
            "in": "query",
            "required": true,
            "description": "Numeric Polymarket token ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "atTime",
            "in": "query",
            "description": "ISO 8601 timestamp or Unix seconds for historical price. Omit for current price.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token price data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokenId": {
                      "type": "string"
                    },
                    "price": {
                      "type": "number",
                      "description": "Price (0–1).",
                      "example": 0.62
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "Unix ms of the price."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid tokenId.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account info",
        "description": "Returns information about the authenticated user's Carbon Copy account.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  }
}
